/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* Main */
#menu{

	width: 1000px;
	margin-left:auto;
  margin-right: auto;
	padding: 10px 0 0 0;
	list-style: none;  
	background: #FFFFFF;
	//background: -moz-linear-gradient(#444, #111); 
        //background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));	
	//background: -webkit-linear-gradient(#444, #111);	
	//background: -o-linear-gradient(#444, #111);
	//background: -ms-linear-gradient(#444, #111);
	//background: linear-gradient(#444, #111);
	//-moz-border-radius: 50px;
	border-radius: 2px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 1px 1px #9c9c9c;
}
#root{
    min-height: 100%;
    //background-color:#BCC6CC;
    background-color:#FAFAFA;
    

    
}

#header{
    margin-top:-8px;
    margin-left:auto;
    margin-right: auto;
    background: #FFFFFF;
    //background: #F7FBFA;
    border-color: #999;
    //border-bottom-style:solid;
    border-bottom-width:1px;
    height:75px;
    width: 1000px;
    border-style: solid;
    border-color: #E5E4E2;
    border-width:1px;
    border-radius: 3px;
                                                                                                      
}
.logo{
    margin-left: 15px;
}

#nav-bar{
  
    width: 1000px;
    margin-top:-14px;
    //margin-left:-8px;
    margin-left:auto;
    margin-right:auto;
    background: #FFFFFF;
    //background: #F7FBFA;
    border-color: #999;
    border-bottom-style:solid;
    border-bottom-width:1px;
    height:40px;  
}
#body{
    background-color:#FFFFFF;
    margin: auto;
    margin-top: 10px;
	margin-bottom: 10px;
    //padding: 0;                                                                                                    
    width:1000px;                                                                                                     
    color:#000000;                                                                                                    
    font-family:Verdana,Arial,sans-serif;                                                                             
    font-size:10pt;
    border-style: solid;
    border-color: #E5E4E2;
    border-width:1px;
    border-radius: 3px;
}



#footer {
 background-color:#000000; 
 color: #FFFFFF;
 
 z-index: 10;
 height: 3em;
 margin-top: 3em;
}

#footer_text {
 text-align: center;
 color: #FFFFFF;
 padding: 10px 0 10px 0;
}

#menu li{
	float: right;
    //margin-left:auto;
    //margin-right:auto;
	padding: 0 0 10px 0;
	position: relative;
}

#menu a{
	float: left;
	height: 25px;
	padding: 0 15px;
	//color: #999;
    color:#347C17;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 0.5px 0 #FFF;
}

#menu li:hover > a{
	//color: #fafafa;
    color:#254117;
}

/* IE6 */
/*
*html #menu li a:hover{ 
	color: #fafafa;
}
*/

#menu li:hover > ul{
	display: block;
}

/* Sub-menu */

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 18px;
    //right: 20px;
    z-index: 99999; 
    background: #FAFAFA;   
    //background: #444;
    //background: -moz-linear-gradient(#444, #111);
    //background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    //background: -webkit-linear-gradient(#444, #111);    
    //background: -o-linear-gradient(#444, #111);	
    //background: -ms-linear-gradient(#444, #111);	
    //background: linear-gradient(#444, #111);	
    //-moz-border-radius: 5px;
    border-radius: 3px;
}

#menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    //-moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    //-webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    //ox-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a{    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

/* IE6 */ 
/*
*html #menu ul a{   
	height: 10px;
	width: 150px;
}

*:first-child+html #menu ul a{ // IE7   
	height: 10px;
	width: 150px;
}
*/

#menu ul a:hover{
        //background: #0186ba;
	//background: -moz-linear-gradient(#04acec,  #0186ba);	
	//background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	//background: -webkit-linear-gradient(#04acec,  #0186ba);
	//background: -o-linear-gradient(#04acec,  #0186ba);
	//background: -ms-linear-gradient(#04acec,  #0186ba);
	//background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    //border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    //border-left: 5px solid transparent;
    //border-right: 5px solid transparent;
    //border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
    //border-bottom-color: #04acec; 
}

#menu ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}



//* html #menu             { zoom: 1; } /* IE6 */
//*:first-child+html #menu { zoom: 1; } /* IE7 */